@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --color-1: rgb(7, 66, 113);
    --color-2: rgb(176, 144, 110);
    --color-3: rgb(232, 233, 235);
    --color-4: rgb(85, 82, 61);
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: "Open Sans", serif;
    font-size: 12px;
    background-color: var(--color-1);
    overflow-x: hidden;

}

/* Remove dots from all lists */
ul {
    list-style: none; 
    margin: 0;
    padding: 0;
}



.shipping-nav {
    text-align: center;
    background-color: black;
    color: var(--color-1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem 3rem 0.2rem 3rem;
}



.nav-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.nav-info p:hover {
    text-decoration: underline;
}



.nav-info p span {
    transform: scale(0.8) translateX(1rem) translateY(0.2rem);
}

nav ul {
    position: relative;
    display: flex;
    justify-content: right;
    gap: 1rem;
    padding: 4rem;  
    height: 80%;
}


header {
    position: relative;
    z-index: 100;
}



ul li:first-child {
    position: absolute;
    top: 0%;
    left: 0%;
    margin-top: -2rem ;

    
}

.logo-ul li a {
    color: white
}



a, a:hover, a:active, a:visited, a:focus {
    text-decoration:none;
}

.logo {
    width: 300px;
    height: 200px;
    object-fit: contain;  
}

.material-symbols-outlined {
    color: white;
}

#logo-list .logo-ul {
    display: flex;
    align-items: center;
    gap: 3rem;
}

#logo-list .logo-ul li:hover {
    cursor: pointer;
}

#products-page-link {
    text-decoration: none;
    color: white;
}

#products-page-link:visited {
    color:white;
    text-decoration: none;
}

#products-page-link:active {
    color:white;
    text-decoration: none;
}


#logo-list .logo-ul li {
    color: white;
}

#logo-list .logo-ul li:nth-child(2),
#logo-list .logo-ul li:nth-child(3),
#logo-list .logo-ul li:nth-child(4),
#logo-list .logo-ul li:nth-child(5) {
    position: relative;
    right: 25%;
    font-weight: 660;
    font-size: 13px;
}

.active-tab {
    padding: 1rem;
    background-color: var(--color-1);
}





/* shopping cart modal styling*/
.hidden {
    display: none;
}

.modal-cart {
   position: absolute;
   top: 0;
   right: 0;
   height: 100vh;
   width: 20vw;
   background-color: white;
   z-index: 6;
   transform: translateY(32.3px); 
}


/* shopping cart slide in animation */
.fadeOut {
    animation: cartFadeOut 0.2s ease;
}

.fadeIn {
    animation: cartFadeIn 0.2s ease;
}

@keyframes cartFadeIn {
    0% {width: 0};
    100% {width: 20vw;}
}

@keyframes cartFadeOut {
    100% {width: 0};
    0% {width: 20vw;}
}



.modal-title-cart-wrapper {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    font-size: 17px;
    padding-left: 1rem;
    padding-right: 1rem;
}

.modal-title-cart-wrapper div {
   color: white;
   transform: scale(2);
    
}

.modal-title-cart-wrapper div:hover {
    cursor: pointer;
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 5;
  }

  /* main page styling */
main {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -40%);
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    margin: 0 auto; 
  }

  .form-default-container {
    width: 100%;
    height: 50vh;
    text-align: center;
    transform: translateY(25%);
    color: white;
}

.form-default-container h1 {
    font-size: 3em;
    margin-bottom: 2rem;
}

.form-default-container i {
   margin-right: 1rem;
}

.form-default-container h2:nth-child(3) i{
    margin-right: 1rem;

}

.form-default-container h2:nth-child(3) {
    margin-bottom: 2rem;

}


#form-number {
    transform: translateX(-3rem);
}


div button {
    transform: translateY(5vh);
    padding: 1rem;
    background-color: var(--color-1);
    border: 2px solid var(--color-2);
    color: white;
}

.expand-btn-color {
    position: relative;
    background: linear-gradient(to top, var(--color-2) 50%, var(--color-1) 50%); /* Two colors, starting with the bottom color */
    background-size: 100% 200%; /* Double the height to prepare for the transition */
    background-position: 0 100%; /* Start with the bottom color visible */
    transform: translateY(5vh);
    padding: 1rem;
    background-color: var(--color-1);
    border: 2px solid var(--color-2);
    color: white;
    cursor: pointer;
    transition: background-position 0.5s ease-in-out; /* Smooth transition */

  }

  .expand-btn-color-clicked {
    background-position: 0 0; /* Final position for the transition */
    transition: background-position 0.5s ease-in-out;
    background-color: #292928;
}



.form-overlay {
   width: 2000px;
   height: 2000px;
   padding: 40rem;
   display: grid;
   place-content: center;
   gap: 2rem;
   padding: 2rem;
   background-color: #292928;
   position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    border-radius: 50%;
    display: none;

}

.form-overlay * {
    transform: scale(0.8);
}

.form-close-btn {
    transform: scale(4);
    position: absolute;
    top: 5%;
    right: 10%;
    color: white;
    z-index: 1000;
    display: none;
}

.form-overlay h2 {
    text-align: left;
}

.form-overlay input {
    height: 4rem;
    padding: 1rem;
    background-color: #292929;
    color: white;
    border: 3px solid white;
    border-radius: 3px;
}

.form-overlay button {
    width: 10rem;
    position: absolute;
    bottom: 38%;
    right: 42%;
    background-color: #292928;
    border: 2px solid var(--color-2);
}

textarea:focus, input:focus{
    outline: none;
    border: 3px solid var(--color-2);
    transition: all 0.1s ease-in;
}










/* styling for the footer */

footer {
    position: absolute;
    bottom: -260vh;
    width: 100%;
    height: 50vh;
    background-color: var(--color-1);
    overflow: hidden;
    padding-top: 3rem;
    padding-left: 5rem;
}

#footer-img {
    position: absolute;
    bottom: -65%;
    right: 35%;
    transform: scale(2.5);
}

.footer-logo-icons {
    position: relative;
    left: 3rem;
    width: 75%;
    top: -10rem;
    transform: scale(0.7);
    color: var(--color-2);
}

.footer-help-container {
    width: 341.6px;
    height: 290px;
    font-size: 18px;
    font-weight: 700;
    color: var(--color-2);
    
}

.small-text {
    color: white;
    opacity: 0.4;
    font-size: 14px;
    margin-bottom: 1rem;
    font-weight: 200;
}



.footer-socials-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    transform: translateY(-3rem);
}

.footer-logo-icons {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
}

.footer-logo-icons img {
   width: 300px;
   height: 300px;
}

.footer-content-wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 13rem;
}

.footer-shop a, .footer-about a, .footer-contact a {
    display: block;
    white-space: nowrap;
    margin-bottom: 2rem;
    color: var(--color-2);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 650;
    font-size: 14px;
}

.footer-shop p, .footer-about p, .footer-contact p {
    margin-bottom: 3rem;
    white-space: nowrap;
    color: var(--color-2);
    font-weight: 300;
    font-size: 13px;
}

#first-popcorn {
   position: absolute;
   left: -15%;
   filter: blur(5px);
   transform: scale(0.5);
}

#second-popcorn {
    position: absolute;
    right: -12%;
    filter: blur(5px);
    transform: scale(0.5) rotate(45deg);
 }

 #third-popcorn {
    position: absolute;
    right: 1%;
    bottom: -30%;
    filter: blur(5px);
    transform: scale(1) rotate(45deg);
 }
 




/* slight changes for certain desktop sizes */
@media(width <= 1100px) {
    .modal-cart {
        width: 30vw;
    }
  }

  /* responsiveness for mobile and small tablets*/
 @media (max-width: 500px), (max-width: 769px) {
    body, html {
        width: 100%;
        height: 100%;
        overflow-x: hidden;
    }

    body {
        position: relative;
        min-height: -webkit-fill-available; /*makes vh units actually work on mobile*/

    }

     /* navbar and hero image styling for mobile */
     .hero-img {
        width: 100vw;
    }
 
    .logo-ul-icon-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
    }

    #logo-list {
        transform: scale(0.5) translate(-50%, -50%);
        position: relative;
        top: 50%;
        left: 50%;
    }

   



    .shipping-nav {
        white-space: nowrap;
        font-size: 5px;
    }

    .shipping-nav .nav-info span {
        transform: scale(0.7);
    }
    .logo-ul {
        width: 100vw;
    }

   

    .logo-ul li a, .logo-ul li {
    transform: translate(3rem);
    }

    .nav-info {
        font-size: 0.5rem;
    }

    .shipping-nav {
        font-size: 0.5rem;
    }

    .logo {
       transform: translateX(-42rem) scale(0.5);
    }

    #search-icon, #cart-icon, #menu-icon {
        transform: translate(-2rem);
    }

    .hero-img {
        height: 100vh;
    }


    .modal-cart {
        height: 500vh;
        width: 100vw;
        position: relative;
        top: -12%;
        left: 35%
    }

    .modal-cart .close-modal {
        position: relative;
         width: 100px;
        bottom: 8rem;
        transform: translateX(-5rem);
    } 


    


     /* make footer layout change for mobile */
     footer {
        position: absolute;
        top: 100vh;
        height: 10vh;
        padding-bottom: 100rem;
       
    }

    .footer-content-wrapper {
        display: grid;
        grid-template-columns: 1fr;
        height: 100%;
    
    }

    .footer-logo-icons {
        transform: translate(-6rem, 3rem) scale(0.8);
    }

    #first-popcorn, #second-popcorn, #third-popcorn  {
        display: none;
    }

    .small-text {
        position: relative;
        top: calc(100vh - 30rem);
        text-align: center;
    }

    .footer-info-wrapper{
        transform: translateY(-30rem);
        display: none;
    }

    .footer-info.mobile {
        margin-top: 3rem ;
        margin-left: 1rem;
    }

    .footer-img {
        bottom: -20%;
    }

    .footer-info.mobile {
        width: 95%;
        height: 10rem;
        position: absolute;
        left: 0;
        top: 25%;
        display: grid;
        place-content: center;
        height: 50vh;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        padding: 5rem;
    }
    
    .footer-shop, .footer-about, .footer-contact {
        display: none;
    }

    .footer-shop.mobile {
        border-top: 1px solid var(--color-2);
        position: relative;
    }

    .footer-help-container p {
        margin-bottom: 4rem;
    }

    .footer-info.mobile div  {
        width: 90vw;
        border-bottom: 1px solid var(--color-2);
        color: var(--color-2);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .footer-info.mobile span {
       transform: scale(2);
       font-weight: 700;
       margin: 1rem;
    }

  


    .footer-info.mobile img {
        width: 100%;
        height: 100%;
        top: 80vh;
        left: 0;
    }

 }
/* responsiveness for desktop */
 @media(min-width: 1000px) {

    footer {
        top: 125vh;
    }

    .footer-info.mobile {
        display: none;
    }
    .contact-us-section {
        transform: scale(1.5) translateY(15%);
    }

    .form-overlay {
        width: 100vw ;
        height: 150vh;
        position: absolute;
        top: -150vh;
    }

    .form-overlay button {
        transform: translateY(200%) translateX(17%);
        height: 3rem;
        display: grid;
        place-content: center;
    }

    .form-close-btn {
        top: -10vh;
    }
 }
