@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --color-1: rgb(7, 66, 113);
    --color-2: rgb(176, 144, 110);
    --color-3: rgb(232, 233, 235);
    --color-4: rgb(85, 82, 61);
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: "Open Sans", serif;
    font-size: 12px;
    background-color: var(--color-3);
    overflow-x: hidden;

}


.shipping-nav {
    text-align: center;
    background-color: var(--color-1);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem 3rem 0.2rem 3rem;
}



.nav-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.nav-info p:hover {
    text-decoration: underline;
}



.nav-info p span {
    transform: scale(0.8) translateX(1rem) translateY(0.2rem);
}

nav ul {
    position: relative;
    display: flex;
    justify-content: right;
    gap: 1rem;
    padding: 4rem;  
    height: 80%;
}


header {
    position: relative;
    z-index: 100;
}

.logo-ul li a {
    color: white
}

.logo-ul li a:hover {
    opacity: 0.8;
}



ul li:first-child {
    position: absolute;
    top: 0%;
    left: 0%;
    margin-top: -2rem ;

    
}

a, a:hover, a:active, a:visited, a:focus {
    text-decoration:none;
}

.logo-ul {
    list-style-type: none;
}

.logo {
    width: 300px;
    height: 200px;
    object-fit: contain;  
}

.material-symbols-outlined {
    color: white;
   
}

#logo-list .logo-ul {
    display: flex;
    align-items: center;
    gap: 3rem;
}

#logo-list .logo-ul li:hover {
    cursor: pointer;
}

#products-page-link {
    text-decoration: none;
    color: white;
}

#products-page-link:visited {
    color:white;
    text-decoration: none;
}

#products-page-link:active {
    color:white;
    text-decoration: none;
}


#logo-list .logo-ul li {
    color: white;
}

#logo-list .logo-ul li:nth-child(2),
#logo-list .logo-ul li:nth-child(3),
#logo-list .logo-ul li:nth-child(4),
#logo-list .logo-ul li:nth-child(5) {
    position: relative;
    right: 25%;
    font-weight: 660;
    font-size: 13px;
}

.active-tab {
    padding: 1rem;
    background-color: var(--color-1);
}





/* shopping cart modal styling*/
.hidden {
    display: none;
}

.modal-cart {
   position: absolute;
   top: 0;
   right: 0;
   height: 100vh;
   width: 20vw;
   background-color: white;
   z-index: 6;
   transform: translateY(32.3px); 
}


/* shopping cart slide in animation */
.fadeOut {
    animation: cartFadeOut 0.2s ease;
}

.fadeIn {
    animation: cartFadeIn 0.2s ease;
}

@keyframes cartFadeIn {
    0% {width: 0};
    100% {width: 20vw;}
}

@keyframes cartFadeOut {
    100% {width: 0};
    0% {width: 20vw;}
}



.modal-title-cart-wrapper {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    font-size: 17px;
    padding-left: 1rem;
    padding-right: 1rem;
}

.modal-title-cart-wrapper div {
   color: white;
   transform: scale(2);
    
}

.modal-title-cart-wrapper div:hover {
    cursor: pointer;
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 5;
  }

  /* Hero image styling */
  .hero-img-section {
    width: 100vw;
    height: 50%;
    position: absolute;
    top: 0;
  }

  .hero-img-section img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    filter: brightness(50%)
  }



  /* Product Grid styling */
  main { 
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 70%;
    height: 100vh;
  }


  .product-grid  {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    width: 100%;
    height: 200vh;

  }

  /* need to do this in from json in js */
  /* .example { 
    background-image: url("images/Caramel-product-1.png");
    background-size: contain;
    background-repeat: no-repeat;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }


  .example:hover {
    background-image: url("images/Caramel-product-2.png");
    background-size: contain;
    background-repeat: no-repeat;
   
  }

  #price {
    position: relative;
    bottom: -200px;
  }

  #example-span {
    position: absolute;
    bottom: 0;
    font-size: 16px;
    font-weight: 600;
  }
 */

 .product-grid div {
    transform: scale(0.8);
 }

 .product-grid div:nth-child(1) {
    transform: scale(0.9);
 }

 .product-grid div:nth-child(3) {
    transform: scale(0.72);
 }

 .product-grid div:nth-child(4) {
    transform: scale(0.93);
 }

 .product-grid div div {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: -32rem;
    width: 30rem;
    height: 17rem;
    flex-direction: column;
 }

 /* slight styling adjustments to the products text and images */
 .product-grid div div span:nth-child(1) {
    font-size: 20px;
    font-weight: 600;
 }

  /* the price */
 .product-grid div div span:nth-child(3)::before {
    content: '$';
 }

 .product-grid div div span:nth-child(3) {
    font-size: 20px;
    opacity: 0.5;
 }

 .product-grid div div span:nth-child(3){
    margin-top: 1rem;
 }

 /* caramel popcorn */
 .product-grid div:nth-child(1) div span {
    position: relative;
    top: -2.2rem;
 }

 .product-grid div:nth-child(1) div span:nth-child(1) {
    font-size: 18px;
 }

 .product-grid div:nth-child(1) div span:nth-child(2) {
    font-size: 11px;
 }

 /* smores popcorn */
 .product-grid div:nth-child(3) div span {
    position: relative;
    bottom: -2.2rem;
 }

 .product-grid div:nth-child(3) div span:nth-child(1) {
    font-size: 22px;
 }

 .product-grid div:nth-child(3) div span:nth-child(2) {
    font-size: 13px;
 }


 /* buffalo wing popcorn */
 .product-grid div:nth-child(4) div span {
    position: relative;
    top: -2.5rem;
 }

 .product-grid div:nth-child(4) div span:nth-child(1) {
   font-size: large;
 }

 .product-grid div:nth-child(4) div span:nth-child(2) {
    font-size: 10px;
  }
 




  /* styling for the footer */

footer {
    position: absolute;
    bottom: -250vh;
    width: 100%;
    height: 50vh;
    background-color: var(--color-1);
    overflow: hidden;
    padding-top: 3rem;
    padding-left: 5rem;
}

#footer-img {
    position: absolute;
    bottom: -65%;
    right: 35%;
    transform: scale(2.5);
}

.footer-logo-icons {
    position: relative;
    left: 3rem;
    width: 75%;
    top: -10rem;
    transform: scale(0.7);
    color: var(--color-2);
}

.footer-help-container {
    width: 341.6px;
    height: 290px;
    font-size: 18px;
    font-weight: 700;
    color: var(--color-2);
    
}

.small-text {
    color: white;
    opacity: 0.4;
    font-size: 14px;
    margin-bottom: 1rem;
    font-weight: 200;
}



.footer-socials-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    transform: translateY(-3rem);
}

.footer-logo-icons {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
}

.footer-logo-icons img {
   width: 300px;
   height: 300px;
}

.footer-content-wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr) !important;
    gap: 13rem;
}

.footer-shop a, .footer-about a, .footer-contact a {
    display: block;
    white-space: nowrap;
    margin-bottom: 2rem;
    color: var(--color-2);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 650;
    font-size: 14px;
}

.footer-shop p, .footer-about p, .footer-contact p {
    margin-bottom: 3rem;
    white-space: nowrap;
    color: var(--color-2);
    font-weight: 300;
    font-size: 13px;
}

#first-popcorn {
   position: absolute;
   left: -15%;
   filter: blur(5px);
   transform: scale(0.5);
}

#second-popcorn {
    position: absolute;
    right: -12%;
    filter: blur(5px);
    transform: scale(0.5) rotate(45deg);
 }

 #third-popcorn {
    position: absolute;
    right: 1%;
    bottom: -30%;
    filter: blur(5px);
    transform: scale(1) rotate(45deg);
 }

 .product-div {
    background-size: contain;
    background-repeat: no-repeat;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
}

.footer-info.mobile {
    display: none;
}


  /* responsiveness for large tablets */
  @media (max-width: 1024px) and (min-width: 769px) {
    .footer-about, .footer-shop, .footer-contact {
     display: none;
    }

    .product-grid {
        grid-template-columns: 1fr 1fr;
        height: 100vh;
        gap: 10rem;
    }

    .product-div div {
       top: 13vh;
       left: -7vw;
    }

    .logo {
       display: none;
    }


    footer {
        position: absolute;
        top: 250vh;
        height: 10vh;
        padding-bottom: 100rem;
    }

    .footer-content-wrapper {
        margin-left: 25rem;
    }

    .small-text:not(.small-text:first-child) {
        position: relative;
        top: 54vh;
    }

    .footer-content-wrapper {
        display: grid;
        grid-template-columns: 1fr;
        height: 100%;
    
    }

    .footer-logo-icons {
        transform: translate(-6rem, 3rem) scale(0.8);
    }

    #first-popcorn, #second-popcorn, #third-popcorn  {
        display: none;
    }

    .small-text {
        position: relative;
        top: calc(100vh - 30rem);
        text-align: center;
    }

    .footer-info-wrapper{
        transform: translateY(-30rem);
        display: none;
    }

    .footer-info.mobile {
        margin-top: 3rem ;
        margin-left: 1rem;
    }

    .footer-img {
        bottom: -20%;
    }

    .footer-info.mobile {
        width: 95%;
        height: 10rem;
        position: absolute;
        left: 0;
        top: 25%;
        display: grid;
        place-content: center;
        height: 50vh;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        padding: 5rem;
    }
    

    .footer-shop.mobile {
        border-top: 1px solid var(--color-2);
        position: relative;

    }

    .footer-help-container p {
        margin-bottom: 4rem;
    }

    .footer-info.mobile div  {
        width: 90vw;
        border-bottom: 1px solid var(--color-2);
        color: var(--color-2);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .footer-info.mobile span {
       transform: scale(2);
       font-weight: 700;
       margin: 1rem;
    }

  


    .footer-info.mobile img {
        width: 100%;
        height: 100%;
        top: 80vh;
        left: 0;
    }



    


 }


 /* responsiveness for mobile and small tablets*/
 @media (max-width: 500px), (max-width: 769px) {
    body, html {
        width: 100%;
        height: 100%;
        overflow-x: hidden;
    }

    body {
        position: relative;
        min-height: -webkit-fill-available; /*makes vh units actually work on mobile*/

    }

     /* navbar and hero image styling for mobile */
     .hero-img {
        width: 100vw;
    }
 
    .logo-ul-icon-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
    }
    #logo-list {
        transform: scale(0.5) translate(-50%, -50%);
        position: relative;
        top: 50%;
        left: 50%;
    }

   



    .shipping-nav {
        white-space: nowrap;
        font-size: 5px;
    }

    .shipping-nav .nav-info span {
        transform: scale(0.7);
    }
    .logo-ul {
        width: 100vw;
    }

   

    .logo-ul li a, .logo-ul li {
    transform: translate(3rem);
    }

    .nav-info {
        font-size: 0.5rem;
    }

    .shipping-nav {
        font-size: 0.5rem;
    }

    .logo {
       transform: translateX(-42rem) scale(0.5);
    }

    #search-icon, #cart-icon, #menu-icon {
        transform: translate(-2rem);
    }

    .hero-img {
        height: 100vh;
    }


    .modal-cart {
        height: 500vh;
        width: 100vw;
        position: relative;
        top: -12%;
        left: 35%
    }

    .modal-cart .close-modal {
        position: relative;
         width: 100px;
        bottom: 8rem;
        transform: translateX(-5rem);
    } 

    /* changing grid layout */

    main {
        height: 200vh;
        width: 100vw;
        position: relative;
        left: 0;
        display: grid;
        place-content: center;
        transform: scale(0.8) translateX(5rem);
    }

    .product-grid {
        grid-template-columns: 1fr;
        width: 100%;
        gap: 5rem;
    }

    .product-div:nth-child(4), .product-div:nth-child(1) {
       position: relative;
       left: 1rem
    }



    .product-div div {
        position: relative;
        top: 13rem;
        left: -5.5rem;
        height: 10rem;
       display: flex;
       align-items: center;
    }

    .product-div div span {
        transform: translateX(-1rem);
    }





     /* make footer layout change for mobile */
     footer {
        position: absolute;
        top: 450vh;
        height: 10vh;
        padding-bottom: 100rem;
    }

    .footer-content-wrapper {
        display: grid;
        grid-template-columns: 1fr;
        height: 100%;
    
    }

    .footer-logo-icons {
        transform: translate(-6rem, 3rem) scale(0.8);
    }

    #first-popcorn, #second-popcorn, #third-popcorn  {
        display: none;
    }

    .small-text {
        position: relative;
        top: calc(100vh - 30rem);
        text-align: center;
    }

    .footer-info-wrapper{
        transform: translateY(-30rem);
        display: none;
    }

    .footer-info.mobile {
        margin-top: 3rem ;
        margin-left: 1rem;
    }

    .footer-img {
        bottom: -20%;
    }

    .footer-info.mobile {
        width: 95%;
        height: 10rem;
        position: absolute;
        left: 0;
        top: 25%;
        display: grid;
        place-content: center;
        height: 50vh;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        padding: 5rem;
    }
    

    .footer-shop.mobile {
        border-top: 1px solid var(--color-2);
        position: relative;

    }

    .footer-help-container p {
        margin-bottom: 4rem;
    }

    .footer-info.mobile div  {
        width: 90vw;
        border-bottom: 1px solid var(--color-2);
        color: var(--color-2);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .footer-info.mobile span {
       transform: scale(2);
       font-weight: 700;
       margin: 1rem;
    }

  


    .footer-info.mobile img {
        width: 100%;
        height: 100%;
        top: 80vh;
        left: 0;
    }

 }
